@use "global" as *;

.blog-card {
    width: 100%;
    transition: .3s; // hover用
    box-shadow: 2px 2px 10px 0px rgba(#000, 0.25);
    background-color: $white;
    &:hover {
        box-shadow: 3px 3px 15px $black;
    }
}

.blog-card__inner {
    padding: rem(16) rem(16) rem(24);

}

.blog-card__image {
    width: 100%;
    & img {
        object-fit: cover;
        aspect-ratio: 301 / 201;
    }
}

.blog-card__contents {
    margin-top: rem(25);
}

.blog-card-title {
    margin-top: rem(8);
    font-weight: $semibold;
    padding-bottom: rem(8);
    border-bottom: rem(1) solid $accent;
}

.blog-card__text {
    margin-top: rem(20);
}
