@use "global" as *;

.campaign-card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    font-family: $jpn-font-family;
    transition: .3s; // hover用
}

.campaign-card__image {
    width: 100%;
    height: auto;
    & img {
        object-fit: cover;
        aspect-ratio: 280 / 188;
        @include mq('md') {
            aspect-ratio: 334 / 223;
        }
    }
}

.campaign-card__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: rem(16) rem(16) rem(24);
    @include mq('md') {
        padding-top: rem(24);
        padding-bottom: rem(40);
    }
}

.campaign-card__card-title {
    color: $black;
    font-size: rem(16);
    line-height: calc(24/16);
    font-weight: $semibold;
    border-bottom: rem(1) solid $accent;
    margin-top: rem(4);
    padding-bottom: rem(6);
    flex-grow: 1;
}
