@use "global" as *;

.voice-card {
    box-shadow: 2px 2px 10px 0px rgba(#000, 0.25);
}

.voice-card__inner {
    padding: rem(16) rem(16) rem(24);
    @include mq('md') {
        padding: rem(24);
    }
}

.voice-card__head {
    display: flex;
    gap: rem(13);
    align-items: flex-end;
    @include mq('md') {
        gap: rem(16);
    }
}

.voice-card__head-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: rem(1) solid $accent;
    margin-top: rem(1);
    @include mq('md') {
        width: calc(276 / (520 - 64) * 100%);
    }
}

.voice-card__info {
    display: flex;
    flex-direction: column;
    @include mq('md') {
        margin-top: rem(24);
        flex-direction: row;
        align-items: flex-end;
    }
}

.voice-card__category {
    margin-top: rem(3);
    @include mq('md') {
        margin-top: 0;
        margin-left: auto;
    }
}

.voice-card__title {
    font-size: rem(16);
    margin-top: rem(4);
    font-weight: $semibold;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    @include mq('md') {
        margin-top: rem(8);
        font-size: rem(24);
        padding-bottom: rem(2);
    }
}
.voice-card__title.card-title {
    line-height: 1.5;
}

.voice-card__image {
    max-width: rem(151);
    @include mq('md') {
        max-width: rem(180);
        width: calc(180 / (520 - 64) * 100%);
    }
    & img {
        object-fit: cover;
        aspect-ratio: 151 / 117;
        @include mq('md') {
            aspect-ratio: 180 / 140;
        }
    }

}

.voice-card__text {
    margin-top: rem(16);
    @include mq('md') {
        margin-top: rem(40);
    }
}
