@use "global" as *;

.section-title {
    text-align: center;
}

.section-title__main {
    color: $font;
    font-size: rem(32);
    line-height: 1;
    font-weight: $normal;
    @include mq('md') {
        font-size: rem(40);
    }
}

.section-title__main span,
.section-title__main--white span {
    color: $accent;
}

.section-title__sub {
    display: inline-block;
    margin-top: rem(11);
    color: $accent;
    font-size: rem(12);
    line-height: 1;
    font-family: $jpn-font-family;
}

.section-title__main--white,
.section-title__main--white span,
.section-title__sub--white {
    @include mq('md') {
        color: $white;
    }
}


